{% extends 'base.html.twig' %}

{% block title %}Newsletters{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div>{{ message }}</div>
    {% endfor %}
{% endblock %}
